[Service]
Type=oneshot
ExecStart=/usr/local/sbin/firstrun
StandardOutput=syslog
StandardError=syslog
User=root

[Unit]
After=systemd-user-sessions.service plymouth-quit-wait.service
After=rc-local.service
Before=getty.target

[Install]
WantedBy=multi-user.target
